.userright_container {
  height: 35vh;
  border: 2px solid gray;
}

.userright_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.userright_can {
  font-size: 25px;
  cursor: pointer;
  font-weight: 300px;
  transition: all 1s ease;
}

.userright_can:hover {
  border-bottom: 2px solid gray;
  transform: scale(1.05);
}
